// All Styles
.seeds-block-paragraph-item {
  .field--name-field-seeds-link {
    margin-top: 15px;
    padding: 0;

    a {
      display: inline-block;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .field--name-field-seeds-image {
    position: relative;
  }
}

.block-card {
  position: relative;
  .field--name-field-seeds-image {
    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  }
  .body-wrapper {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;

    .field--name-field-seeds-title,
    .field--name-field-seeds-text {
      color: $white;

      h2 {
        color: $white;
      }
    }
  }

  &.no-image{
    background-color: $seeds-page-primary;
    height: 100%;

    .body-wrapper{
      position: unset;
    }
  }
}

.block-teaser {
  .field {
    margin-bottom: 10px;

    &.field--name-field-seeds-link {
      margin-top: 0px;
    }
  }
}

.block-teaser-right {
  flex-direction: row-reverse;

  .seeds_accordion{
    .wrapper{
      flex-direction: row-reverse;

      .body-wrapper{
        text-align: end;
      }
    }
  }
}

.block-content {
  .seeds_accordion{
    width: 100%;
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
  }

  .block-teaser-right,
  .block-teaser-left {
    display: flex;
    flex-wrap: wrap;
    .field--name-field-seeds-image,
    .body-wrapper {
      flex: 0;
      flex-basis: 50%;
      padding: 0 15px;
    }

    @media (max-width: 767px) {
      .field--name-field-seeds-image,
      .body-wrapper {
        flex-basis: 100%;
      }
    }
  }
}
