.seeds-paragraph-block {
  position: relative;
}
.seeds-paragraph-block > .block-content {
  padding: 30px 0;
}
.seeds-paragraph-block .field--name-field-seeds-background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.seeds-paragraph-block .field--name-field-seeds-background-image img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.seeds-paragraph-block.seeds-block-parallax .field--name-field-seeds-background-image {
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
  right: 0;
  bottom: 0;
}
.seeds-paragraph-block.seeds-block-parallax .field--name-field-seeds-background-image img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.seeds-primary {
  background-color: #c7c6c6;
}

.seeds-secondary {
  background-color: #f9f9f9;
}

.block-content--type-seeds-modal .contextual {
  display: none;
}

.block-content--type-seeds-modal .field--name-field-seeds-paragraph {
  display: none;
}

#paragraph-modal {
  background-color: #fff;
}
#paragraph-modal .field--name-field-seeds-paragraph {
  display: block;
}

.block-content.block-content--type-seeds-grid {
  padding: 15px 0 0 0;
}
.block-content.block-content--type-seeds-grid .field--name-field-seeds-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.block-content.block-content--type-seeds-grid .field--name-field-seeds-paragraph > .field__item {
  margin-bottom: 15px;
}

.block-content.block-content--type-seeds-tabs .tabs .tabs-wrapper {
  list-style: none;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
}
.block-content.block-content--type-seeds-tabs .tabs .tabs-wrapper li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 0px;
  margin: 0px;
}
.block-content.block-content--type-seeds-tabs .tabs .tabs-wrapper li:focus,
.block-content.block-content--type-seeds-tabs .tabs .tabs-wrapper li:hover {
  color: #00aaff;
}

.block-content.block-content--type-seeds-tabs .tabs > .field--item {
  display: none;
}

.block-content.block-content--type-seeds-tabs .tabs .seeds-expand {
  display: block;
}

.block-content.block-content--type-seeds-tabs {
  padding: 0;
}

.block-content.block-content--type-seeds-carousel .slick-list {
  margin: 0 -10px;
}

.block-content.block-content--type-seeds-carousel .slick__slide {
  margin: 0 10px;
}

.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph .seeds_accordion {
  display: none;
}

.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field--item .paragraph--type-seeds-paragraph .field--name-field-seeds-title,
.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field__item .paragraph--type-seeds-paragraph .field--name-field-seeds-title {
  margin: 0;
}

.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field--item .paragraph--type-seeds-paragraph .title-wrapper,
.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field__item .paragraph--type-seeds-paragraph .title-wrapper {
  width: 100%;
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  color: #4d4d4f;
  background-color: #fff;
  border-color: #ddd;
}
.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field--item .paragraph--type-seeds-paragraph .title-wrapper h2,
.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field__item .paragraph--type-seeds-paragraph .title-wrapper h2 {
  margin: 0;
}

.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field--item .paragraph--type-seeds-paragraph .accordion,
.block-content.block-content--type-seeds-accordion .field--name-field-seeds-paragraph > .field__item .paragraph--type-seeds-paragraph .accordion {
  display: none;
  z-index: 1;
  position: relative;
}

.seeds-block-paragraph-item .field--name-field-seeds-link {
  margin-top: 15px;
  padding: 0;
}
.seeds-block-paragraph-item .field--name-field-seeds-link a {
  display: inline-block;
}
.seeds-block-paragraph-item .field--name-field-seeds-link a:hover,
.seeds-block-paragraph-item .field--name-field-seeds-link a:active,
.seeds-block-paragraph-item .field--name-field-seeds-link a:focus {
  text-decoration: none;
}

.seeds-block-paragraph-item .field--name-field-seeds-image {
  position: relative;
}

.block-card {
  position: relative;
}
.block-card .field--name-field-seeds-image::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.block-card .body-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.block-card .body-wrapper .field--name-field-seeds-title,
.block-card .body-wrapper .field--name-field-seeds-text {
  color: #fff;
}
.block-card .body-wrapper .field--name-field-seeds-title h2,
.block-card .body-wrapper .field--name-field-seeds-text h2 {
  color: #fff;
}
.block-card.no-image {
  background-color: #c7c6c6;
  height: 100%;
}
.block-card.no-image .body-wrapper {
  position: unset;
}

.block-teaser .field {
  margin-bottom: 10px;
}
.block-teaser .field.field--name-field-seeds-link {
  margin-top: 0px;
}

.block-teaser-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.block-teaser-right .seeds_accordion .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.block-teaser-right .seeds_accordion .wrapper .body-wrapper {
  text-align: end;
}

.block-content .seeds_accordion {
  width: 100%;
}
.block-content .seeds_accordion .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.block-content .block-teaser-right,
.block-content .block-teaser-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.block-content .block-teaser-right .field--name-field-seeds-image,
.block-content .block-teaser-right .body-wrapper,
.block-content .block-teaser-left .field--name-field-seeds-image,
.block-content .block-teaser-left .body-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .block-content .block-teaser-right .field--name-field-seeds-image,
  .block-content .block-teaser-right .body-wrapper,
  .block-content .block-teaser-left .field--name-field-seeds-image,
  .block-content .block-teaser-left .body-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
} }

.seeds-page-banner {
  position: relative;
}
.seeds-page-banner img {
  width: 100%;
}
.seeds-page-banner .page-header {
  border: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0;
}

/*# sourceMappingURL=seeds-page.css.map */
